<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="stylesheets/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://lib.baomitu.com/socket.io/4.1.2/socket.io.js"></script>
</head>
<body>
 

<div id="demo"></div>
  
 
</body>
<script src="javascript/index.js"></script>
<script>




  var socket = io()  

  //  将数据发送给服务端
  // socket.emit('client', 'clientData')

  //  接收服务端传递的数据
  socket.on('serve', (msg) => {
    console.log(msg)
    // socket.emit('client', res)
  })

  
 


</script>
</html>